<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.dao.HumanDao">
	
	<insert id="insertHuman">
		insert into human values(human_num.nextval,#{age},#{name},#{height},TO_DATE(#{birthday}, 'YYYY-MM-DD HH24:MI:SS'))
	</insert>
	
	<select id="selectAll" resultType="humanDto">
		select * from human
	</select>
	
	<select id="selectOne" resultType="humanDto">
		select * from human where id=#{id}
	</select>
	
	<update id="updateHuman">
		update human set age=#{age},name=#{name},height=#{height},birthday=TO_DATE(#{birthday}, 'YYYY-MM-DD HH24:MI:SS') where id=#{id}
	</update>
	
	<delete id="deleteHuman">
		delete from human where id=#{id}
	</delete>

</mapper>
